<connectionStrings>
  <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-0f12d995-5335-46ab-b2d8-ada8b7b3796b;AttachDbFilename=|DataDirectory|\aspnet-Website-0f12d995-5335-46ab-b2d8-ada8b7b3796b.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>